@padding: 20px;
@font-size: 20px;
@background: red;

.footer{
     padding:@padding 0px;
     font-size: @font-size;
     line-height: @font-size;
     text-align: center;
     background-color: @background;
}